{% extends 'base.html' %}
 
{% block content%}
<div class="container">
    <h3 class="text-muted py-2">ADD EXPENSE</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expense' %}">Expense</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Add Expenses</li>
        </ol>
      </nav>
    <form action="{% url 'add-expense' %}" method="POST">
        {%csrf_token%}
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control" name="amount" required>
                  </div>
                  <div class="form-group">
                    <label for="">Date of Expense</label>
                    <input type="date" class="form-control" name="date" required>
                  </div>
                  <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control" name="description" required>
                  </div>
                  <div class="form-group">
                    <label for="">Category</label>
                    <select class ="form-control" name="category" required>
                        {% for category in categories %}
                        <option name='category' value="{{category.name}}">
                            {{category.name}}
                        </option>
                        {% endfor %}
                       
                
                    </select>
                  </div>
                  <input type="submit" value="submit" class="btn btn-primary">
            </div>
        </div>


    </form>

</div>
 
 
{% endblock content%}

