{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
 <div class="row">
     <div class="col-md-3">

     </div>
     <div class="col-md-6 py-5">
         <div class="card p-3">
             <div class="card-title">
           <h4 class="text-center py-2"><b>Enter your email to get reset link</b> </h4>
             </div>
             {% include "partials/message.html"%}
             <div class="card-body">
                <form action="{% url 'reset-password' %}" method="POST">
                    {% csrf_token %}
                    
                     
                    <div class="form-group">

                      <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
                      
                    </div>
                  
                  
                   
                  
                    </div>
                    
                    <br>
                    
                     
                   
                    
                    <input type="submit" value ='Submit' class="btn btn-block btn-primary" id="submit">
                  </form>
                  <br>
                  <div class="float-right">
                    <span  class="text-lead lead">Don't have a account </span> <a class="text-lead lead" href="{% url 'register' %}">Register</a>
                  </div>
             </div>
         </div>
    </div>
    <div class="col-md-3">
         
    </div>
 </div>

 
 
 

{% endblock %}
 